/* ========== VARIABLES ========== */

// $backgroundColor:#ffffff;
// $primaryColor:#333745;
// $secondaryColor:#E63462;
// $thirdColor:#CED0CE;
$primaryFont:Arial, Helvetica, sans-serif;

$backgroundColor:#ffffff;
$primaryColor:#16324f;
$secondaryColor:#2a628f;
$thirdColor:#3e92cc;
