@import '../Style/style.scss';

/* ========== MIXINS ========== */

@mixin flex($dir:'column'){
    display: flex;
    flex-direction: $dir;
}

/* ========== CLASS SPECIFIC ========== */

.navbar {
    width:100%;
    flex:1;
    height:10vh;

    position: fixed;
    top:0;
    z-index: 100;

    @include flex();
    justify-content: left;
    align-items: center;
    padding-left: 75px;

    background-color:#333745;
    // background: linear-gradient(180deg, rgba(42,98,143,1) 0%, rgba(62,146,204,1) 100%); 
}

.navItem {
    // border: 1px black solid;
    width:100px;
    height:100%;

    @include flex();
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    font-family: $primaryFont;
    color:white;
    font-size: 12pt;
    font-weight: bold;

    // &:active, &:hover {
    //     border-bottom: 5px solid $secondaryColor;
    //     transition:0.5s;
    // }
}

.actionBar {
    width:0% ;
    height:10px;
    position: absolute;
    bottom:0;
    background-color: $secondaryColor;
}