@import '../Style/style.scss';

/* ========== MIXINS ========== */

@mixin flex($dir:'column'){
    display: flex;
    flex-direction: $dir;
}

/* ========== CLASS SPECIFIC ========== */

.hero {
    width:100%;
    flex:3;
    height:95vh;
    padding-top: 45px;
    @include flex();
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    background-color: $backgroundColor;
    overflow: hidden;
}

.heroText {
    margin-left: 75px;
    padding-bottom: 100px;
    z-index: 100;
    z-index: 1;

    .heroTitle {
        font-family: $primaryFont;
        font-size: 55pt;
        color:#119da4;
        margin: 5px;
    }

    .heroSubTitle {
        font-family: $primaryFont;
        font-size: 21pt;
        color:$primaryColor;
        margin: 5px;
    }
}

.heroImg {
    width:900px;
    height:100%;
    margin-top: 30px;
    padding-top: 85px;
    z-index: 2;
}

.btn {
    width:150px;
    height:50px;
    background-color: #119da4;
    border:0;
    border-radius: 3px;
    z-index: 100;

    margin-top: 30px;
    margin-right:20px;

    font-family: $primaryFont;
    font-size: 14pt;
    font-weight: bold;
    color:$backgroundColor;

    &:active, &:hover {
        background-color: $backgroundColor;
        color:$primaryColor;
        border:1px black solid;
    }
}

//Tablet/small desktop Screen
@media only screen and (max-width: 1420px) {
    .hero {
        position: relative;
        height: 80vh;
        @include flex();
        justify-content: left;
        align-items: center;
        }

    .heroImg {
        position: absolute;
        z-index: 0;
        right:0px;
        bottom:-40px;
        width: 700px;
        height: 80%;
    }

    .heroText {
        text-align: left;
        margin-left: 75px;
     }
 

}

//Tablet Screen
@media only screen and (max-width: 1200px) {
    .hero {
        position: relative;
        height: 60vh;
        @include flex();
        justify-content: left;
        align-items: center;
        }

    .heroImg {
        position: absolute;
        z-index: 0;
        right:0px;
        bottom:-50px;
        width: 450px;
        height: 60%;
    }

    .heroText {
        text-align: left;
        margin-left: 75px;
        padding-bottom: 0px;
     }
 

}

//Tablet Screen
@media only screen and (max-width: 800px) {
    .hero {
        position: relative;
        height: 60vh;
        @include flex();
        justify-content: left;
        align-items: center;
        }

    .heroImg {
        position: absolute;
        z-index: 0;
        right:0px;
        bottom:-50px;
        width: 450px;
        height: 60%;
    }

    .heroText {
        text-align: left;
        margin-left: 30px;
        padding-bottom: 0px;
     }
 

}


// Mobile screen
@media only screen and (max-width: 500px) {

    .hero {
        position: relative;

        }

    .heroImg {
        position: absolute;
        z-index: 0;
        opacity: 0.1;
        left:30px;
    }

    .heroText {
       text-align: center;
       margin-left: 0px;
    }

    .btn {
        margin-right: 0px;
        margin: 10px;
    }
}