@import '../Style/style.scss';

/* ========== MIXINS ========== */

@mixin flex($dir:'column'){
    display: flex;
    flex-direction: $dir;
}

/* ========== CLASS SPECIFIC ========== */

.hero {
    width:100%;
    flex:3;
    height:90vh;
    padding-top: 45px;
    @include flex();
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    background-color: $backgroundColor;
}

.heroText {
    margin-left: 75px;
    padding-bottom: 100px;

    .heroTitle {
        font-family: $primaryFont;
        font-size: 42pt;
        color:$secondaryColor;
        margin: 5px;
    }

    .heroSubTitle {
        font-family: $primaryFont;
        font-size: 21pt;
        color:$primaryColor;
        margin: 5px;
    }
}

.heroImg {
    width:900px;
    height:100%;
    padding-top: 85px;
}

.btn {
    width:150px;
    height:50px;
    background-color: $secondaryColor;
    border:0;
    border-radius: 3px;

    margin-top: 10px;
    margin-right:10px;

    font-family: $primaryFont;
    font-size: 14pt;
    font-weight: bold;
    color:$backgroundColor;

    &:active, &:hover {
        background-color: $backgroundColor;
        color:$primaryColor;
        border:1px black solid;
    }
}